@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 183, 216, 242;
  --background-end-rgb: 247, 246, 207;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  min-height: 100vh;
}

@layer components {
  .input {
    @apply w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue focus:border-transparent;
  }

  .btn-primary {
    @apply px-4 py-2 text-white rounded-lg transition-colors duration-200 bg-blue hover:bg-light-blue-alt;
  }

  .btn-secondary {
    @apply px-4 py-2 bg-light-blue text-blue rounded-lg hover:bg-light-blue-alt transition-colors duration-200;
  }

  .card {
    @apply p-4 rounded-lg shadow-md bg-white;
  }
}